---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob('./devlog/**/*.{md,mdx}')).sort(
	(a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
);
---

<Layout title="Devlog" description="The listing for all the devlogs">
  <Header />
  <main>
    <h1>Devlog</h1>
    <section>
      <ul>
        {
          posts.map((post) => (
            <li>
              <time datetime={post.frontmatter.pubDate}>
                {new Date(post.frontmatter.pubDate).toLocaleDateString('en-us', {
                  year: 'numeric',
                  month: 'short',
                  day: 'numeric',
                })}
                </time>
                <a href={post.url}>{post.frontmatter.title}</a>
                </li>
                ))
        }
      </ul>
    </section>
    <a href="/pakko-in-the-evernight">Go back</a>
  </main>
</Layout>

<style>
  ul {
    list-style-type: none;
    padding: unset;
  }
  ul li {
    display: flex;
  }
  ul li time {
    color: #595959;
    margin-right: 1rem;
  }
  @media (max-width: 550px) {
    ul li {
      flex-direction: column;
      margin: 10px 0;
    }
    ul li time {
      margin-right: 0;
    }
  }
</style>